

   @{
    ViewBag.Title = "Loan Guruantees";
    Layout = "~/Views/Shared/_LayoutDlg.cshtml";
}

    
<div class="panel panel-primary" labelGuarancontainer="true">
                          <div class="panel-heading">Guarantees Info</div>
                          <div class="panel-content">
                             <table class="table table-bordered table-striped">
                                 <tr guruanteeData="true">
                                     <th>
                                         Guarantees Type
                                     </th>
                                   
                                     <th>
                                        Applicant Name
                                     </th>
                                    
                                     <th>
                                     Applicant Account
                                     </th>
                                    
                                     <th>
                                       Estimated Amount
                                     </th>
                                     
                                      <th>
                                    Estimate date
                                     </th>
                                     
                                     <th>
                                       Initial Amount
                                     </th>
                                   
                                       <th>
                                   Gurantee Description
                                     </th>
                                   
                                    

                                 </tr>
                               
                                  
                             </table>

                          </div>
                 </div>
<script src="~/Scripts/appjs/FollowUp/ViewGuruantees.js"></script>


