   @{
    ViewBag.Title = "Update Department";
    Layout = "~/Views/Shared/_LayoutDlg.cshtml";
}

 
   <div style="width:100%;height:100%;" class="panel panel-primary" iscontainer="true">
                         
                          <div  class="panel-content">
                             <table class="table table-bordered table-striped">
                                 <tr>
                                     <td>
                                       Name
                                     </td>
                                     <td>
                                          <input class="form-control" id="Name" bindto="Name" type="text">
                                     </td>
                                   
                                 </tr>
                                 <tr>
                                       <td>
                                         Note
                                     </td>
                                     <td>
                                          <input class="form-control" id="Note" bindto="Note" >
                                        
                                     </td>
                                 </tr>
                                    
                            
                                  <tr>
                                     
                                  <td colspan="2">
                                      <input id="submit-button" type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="saveDept(this); return false;" value="Save Department" />
                                   </td>
                                 </tr>
                             </table>

                          </div>
                 </div>
            


<script src="~/Scripts/appjs/Dept/updateDept.js?v=25"></script>


