@{
    ViewBag.Title = "Welcome To Remedial Management System";
}




@Scripts.Render("~/Scripts/jquery.hashchange.min.js")
@Scripts.Render("~/Scripts/jquery.easytabs.min.js")

@Scripts.Render("~/Scripts/appjs/device/index1.js")
<br /><br /><br />
<h1>Welcome to Remedial Management System for Banque Bemo Saudi Fransi</h1>

    <div style="text-align:center;">
      <img src="~/Images/bemoLogo.jpg" width="300" height="300" style="padding-top:30px;" />
    </div>


@*<div style="text-align:center;">
 <img src="~/Images/bemoLogo.jpg" width="300" height="300" style="padding-top:30px;" />
    </div>*@