@{
    ViewBag.Title = "Tracks Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/jquery.hashchange.min.js")
@Scripts.Render("~/Scripts/jquery.easytabs.min.js")

@Scripts.Render("~/Scripts/appjs/TracksManagement/index.js?v=12")

<br /><br /><br />

<!--Search Area-->
<div style="width:50%;margin-left:20%" class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Search for loan</div>
                 
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                    
                      <div class="form quick-post">
                                      <!-- Edit profile form (not working)-->
                                      <div class="form-horizontal">
                                          <!-- Title -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="title">Client ID</label>
                                            <div class="col-lg-10"> 
                                              <input class="form-control" id="ClientID" type="text">
                                            </div>
                                          </div>   
                                                                
                                          <!-- Cateogry -->
                                                  
                                          <!-- Tags -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="tags">Client Name</label>
                                            <div class="col-lg-10">
                                              <input class="form-control" id="ClientN" type="text">
                                            </div>
                                          </div>
                                          
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
											 <div class="col-lg-offset-2 col-lg-9">
												<button type="submit" onclick="Search(this) ;" class="btn btn-primary">Search</button>
												<button type="submit" onclick="Clear(this) ;" class="btn btn-danger">Clear Search</button>
												@*<button type="reset" class="btn btn-default">Reset</button>*@
											 </div>
                                          </div>
                                      </div>
                                    </div>
                  

                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div>
<!--End Search Area-->
 
<table id="DTGrid" >
   
</table>
<div id="pager" ></div>

